:root{
   --navback: rgb(116, 16, 16);
   --navtext: white;
   --bodyback: slategray;
   --titletxt: 'Monoton', cursive;
   --cardtxt: 'Newsreader', serif;
}

body{
    background-color: var(--bodyback);
    text-align: center;

}

img{
    display: block;
    /* width: 100%; */
    height: 300px;
    margin: auto;
    
}

h2{
    color: var(--navback);
    font-weight: bold;
}

.jumbotron {
    background-color: var(--navback);
    color: var(--navtext);
}

    .display-4{
        font-family: 'Monoton', cursive;
    }
    .lead{
        font-family: 'Indie Flower', cursive;
    }

.card{
    background-color: rgba(211, 200, 200, 0.527);
    font-family: var(--cardtxt);
}

    #card.flipped {
        transform: rotateY(180deg);
    }

.btn-outline-danger{
    font-family: var(--titletxt);
    color: var(--navback);
    font-size: 150%;
    margin-top: 5px;
}

#search-movie{
    background-color: var(--navback);
}

#genre{
    color: var(--bodyback);

}

#ratings{
    color: gray
}



